.sub{
    .sidebar{
        display: flex;
        flex-direction: column;
        gap:32px;
        border-right: 1px solid #000;
        .control{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .control_heading{
                font-size: 18px;
                font-weight: bold;
            }
            .control_item{
                display: flex;
                align-items: center;
                gap: 16px;
                margin: 4px 0;
            }
        }
    }
    .filter{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .filter_banner{
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

        }
        .products{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
    }
}