.thumb_img{
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .active{
        border: 4px solid #444;
    }
}
.main_img{
    img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}
.info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    .info_heading{
        font-size: 24px;
        font-weight: bold;
    }
    .prices{
        font-size: 24px;
        color: (var(--primary_color));
        font-weight: bold;
    }
    .btn_add_to_cart{
        background-color: var(--primary_color);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 8px;
        border-radius: 4px;
        text-transform: uppercase;
        width: 200px;
        white-space: nowrap;
        transition-duration: 200ms;
        cursor: pointer;
        user-select: none;
        &:hover{
            transform: scale(1.1);
            background-color: rgb(12, 12, 104)
        }
        &:active{
            transform: scale(0.9);
            background-color:var(--primary_color);
        }
    }
    .compare_wishlist{
        display: flex;
        gap: 16px;
        align-items: center;
        .item{
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--primary_color);
            text-transform: uppercase;
            font-size: 12px;
            transition-duration: 200ms;
            cursor: pointer;
            user-select: none;
            .icon{
                font-size: 16px;
            }
            &:hover{
                transform: scale(1.1);
            }
            &:active{
                transform: scale(0.9);
            }
        }
    }
    .sub_one{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 12px;
        color: #666;
        .sub_item{
            display: flex;
            gap: 8px;
        }
    }
    .sub_two{
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 12px;
        text-transform: uppercase;
        color: #666;
    }
}
@media (max-width: 1000px ) {
    .thumb_img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 739px ) {
   .info{
        align-items: center;
        text-align: center;
        .sub_one{
            text-align: left;
            align-self: flex-start;
        }
        .sub_two{
            text-align: left;
            align-self: flex-start;
        }
   }
}