.quanlity{
    display: flex;
    align-items: center;
    .control{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #ddd;
        font-size: 18px;
        cursor: pointer;
        transition-duration: 200ms;
        user-select: none;
        &:hover{
            background-color: var(--primary_color);
            color: #fff;
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
        }
    }
    .number{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}